/*<meta sourceDocument="C:\Users\PWTC Lab\Desktop\Lindsay_screenshots\Introduction.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

span.span_1
{
	font-family: Arial;
	font-weight: bold;
	color: #000000;
}

p.p_1
{
	margin-bottom: 0pt;
}

p.p_2
{
	margin-bottom: 0pt;
	font-family: Arial;
	color: #000000;
}

li.li_1
{
	margin-bottom: 0pt;
	font-family: Arial;
	color: #000000;
}

ul.ul_1
{
	list-style-type: disc;
	margin-left: 36pt;
}

span.span_2
{
	font-family: Arial;
	color: #000000;
}

p.p_3
{
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
}

